@import 'reset';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  font-weight: 500;
  overflow-x: hidden;
  color: var(--primary-black-text-color);

  &.disabled {
    overflow: hidden;
    height: 100vh;
  }

  input,
  button,
  textarea,
  select {
    color: var(--primary-black-text-color);
    font-family: Montserrat, sans-serif;

    &::placeholder {
      color: var(--primary-black-text-color);
      font-family: Montserrat, sans-serif;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.text {
  &-chinese {
    font-family: Hanyi, sans-serif;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--primary-red-color);
    text-shadow: var(--primary-black-text-color) 3px 0px 0px,
      var(--primary-black-text-color) 2.83487px 0.981584px 0px,
      var(--primary-black-text-color) 2.35766px 1.85511px 0px,
      var(--primary-black-text-color) 1.62091px 2.52441px 0px,
      var(--primary-black-text-color) 0.705713px 2.91581px 0px,
      var(--primary-black-text-color) -0.287171px 2.98622px 0px,
      var(--primary-black-text-color) -1.24844px 2.72789px 0px,
      var(--primary-black-text-color) -2.07227px 2.16926px 0px,
      var(--primary-black-text-color) -2.66798px 1.37182px 0px,
      var(--primary-black-text-color) -2.96998px 0.42336px 0px,
      var(--primary-black-text-color) -2.94502px -0.571704px 0px,
      var(--primary-black-text-color) -2.59586px -1.50383px 0px,
      var(--primary-black-text-color) -1.96093px -2.27041px 0px,
      var(--primary-black-text-color) -1.11013px -2.78704px 0px,
      var(--primary-black-text-color) -0.137119px -2.99686px 0px,
      var(--primary-black-text-color) 0.850987px -2.87677px 0px,
      var(--primary-black-text-color) 1.74541px -2.43999px 0px,
      var(--primary-black-text-color) 2.44769px -1.73459px 0px,
      var(--primary-black-text-color) 2.88051px -0.838247px 0px;
  }
}
