.about-section {
  &__wrapper {
    background-image: url('~/assets/images/about-section-bg-effect.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;

  &__image {
    width: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    border-radius: 30px;

    &__title {
      font-size: clamp(2.8125rem, 1.6406rem + 3.75vw, 3.75rem);
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 30px;

      $text-border-color: var(--primary-black-text-color);

      span {
        color: var(--primary-red-color);
        text-shadow: $text-border-color 3px 0px 0px,
          $text-border-color 2.83487px 0.981584px 0px,
          $text-border-color 2.35766px 1.85511px 0px,
          $text-border-color 1.62091px 2.52441px 0px,
          $text-border-color 0.705713px 2.91581px 0px,
          $text-border-color -0.287171px 2.98622px 0px,
          $text-border-color -1.24844px 2.72789px 0px,
          $text-border-color -2.07227px 2.16926px 0px,
          $text-border-color -2.66798px 1.37182px 0px,
          $text-border-color -2.96998px 0.42336px 0px,
          $text-border-color -2.94502px -0.571704px 0px,
          $text-border-color -2.59586px -1.50383px 0px,
          $text-border-color -1.96093px -2.27041px 0px,
          $text-border-color -1.11013px -2.78704px 0px,
          $text-border-color -0.137119px -2.99686px 0px,
          $text-border-color 0.850987px -2.87677px 0px,
          $text-border-color 1.74541px -2.43999px 0px,
          $text-border-color 2.44769px -1.73459px 0px,
          $text-border-color 2.88051px -0.838247px 0px;
      }
    }

    &__text {
      font-size: clamp(1.375rem, 1.0625rem + 1vw, 1.625rem);
      margin-bottom: 30px;
    }
  }
}
