.footer {
  &__wrapper {
    height: 170px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-style: italic;
      font-size: clamp(0.875rem, -0.0625rem + 3vw, 1.625rem);

      span {
        color: var(--primary-red-color);
      }

      #heart {
        transform: scale(1);
        transition: all 0.2s;
        &:hover {
          animation: heartbeat 1s infinite;
          transition: all 0.2s;
        }
      }
    }
  }

  &__counter {
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@media (max-width: 768px) {
  .footer {
    &__wrapper {
      height: 100%;
      padding: 30px 0;
    }
  }
}
