.header {
  &__wrapper {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: backdrop-filter 0.2s;
    height: var(--header-height);
    z-index: 99;
    backdrop-filter: blur(0) saturate(100%) brightness(100%);

    &--scrolling {
      transition: backdrop-filter 0.2s;
      backdrop-filter: blur(15px) saturate(100%) brightness(100%);
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &__logo {
    width: 150px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;

    &__item {
      padding: 10px;

      &--language {
        .language-icon {
          width: 20px;

          img {
            object-fit: contain;
            width: 100%;
          }
        }

        &__dropdown {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          background-color: #fff;
          border-radius: 10px;

          &__item {
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 10px;

            span {
              position: relative;
            }
          }

          &::before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: -10px;
            left: 30%;
            margin-left: -10px;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #fff transparent;
          }
        }

        &__placeholder {
          position: relative;

          &__content {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
  }
}
