@font-face {
  font-family: 'Hanyi';
  src: url('../fonts/Hanyi/HanyiSentyMarshmallow.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
  font-weight: 400;
}
