@font-face {
  font-family: 'Hanyi';
  src: url('../fonts/Hanyi/HanyiSentyMarshmallow.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-MediumItalic.ttf');
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Black.ttf');
  font-display: swap;
  font-weight: 900;
}
