:root {
  --primary-background-gradient: linear-gradient(
    120.85deg,
    #f1dd35 6.36%,
    #f3b829 96.66%
  );
  --primary-black-text-color: #252525;
  --primary-red-color: #fe3a3c;
  --primary-yellow-color: #fedf2d;

  --header-height: 100px;
  --container-width: 1200px;
}
